body{
  margin:0px;
  width:100vw;
  height:100vh;
  overflow:hidden;
    }
.flechas{
  position: absolute;
  top: 50px;
  left: 0px;
  margin:0px;
  width:100%;
  height:25%;
  padding: 0px;
  border: 2px solid red;
  transform: translate(0%, 50%);
  z-index: 9
}
#iflecha{
  float: left;
  transform: translate(30%, 50%);
}
#dflecha{
  float: right;
  transform: translate(-30%, 50%);
}
.flechas-boton {
  background: none; /* Remove default button background */
  border-color: red rgb(0 255 0 / 1) blue;
  cursor: pointer;
  padding: 0px;
  border-radius: 50%;
  width: 50px; /* Adjust size as needed */
  height: 50px; /* Adjust size as needed */
  transform: translate(0%, 50%);
  position: relative;
}

.flechas-boton::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  border: solid #333333; /* Arrow color */
  border-width: 0 4px 4px 0; /* Adjust arrow thickness */
  display: inline-block;
  padding: 5px; /* Adjust arrow size */
}

/* Directional arrows */
.flecha-derecha::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

.flecha-izquierda::after {
  transform: translate(-50%, -50%) rotate(135deg);
}

/* Optional: Hover effect */
.flechas-boton:hover::after {
  border-color: cyan; /* Change color on hover */
}








